:root {
    --laranja: #F19953;
    --roxo: #6765dd;
}

body{
    /* background-color: #F3EAF4; */
}

.laranja {
    background-color: var(--laranja);
}

.laranja:hover {
    background-color: rgb(241 153 83 / 70%);
}

.roxo {
    background-color: var(--roxo);
}

.roxo-border {
    border: 1px solid var(--roxo);
}

.roxo:hover{
    background-color: rgb(100 100 221 / 70%);

}

.bi{
    color: var(--roxo);
}

.form:focus-visible {
    border-color: var(--bs-orange) !important;
}

